body{
    background-image: url(images/background_light_gray.svg);
}
.navbar-brand{
    position: static;
    width: 204px;
    margin-left: 45px;
    height: 39px;
    left: 0px;
    top: 0px;

/* Inside Auto Layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 0px 40px;
}
.nav-link{
    /* Dashboard */

position: static;
width: 79px;
height: 22px;
left: 264px;
top: 11px;

/* Body 1 Bold */
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
/* Primary */
color: #0CACE3;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 40px;
}
.flex{
    position: absolute;
    width: 408px;
    height: 55px;
    left: 76px;
    top: 33px;
    
    /* Headline 1 */
    
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    
    /* On Surface/High Emphasis */
    
    color: rgba(0, 0, 0, 0.87);
}
.bg { 
    /* The image used */
    background-image: url("images/background_light_blue.svg"); 
}

.box {     
    display: flex;
    flex-wrap: wrap;
 }
.grid-container{
    display:grid;
    grid-template-columns:50px 100px;
    grid-row-gap:10px ;
    grid-column-gap:400px; 
}
.grid-item-1{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-2{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-3{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-4{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-5{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-6{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-7{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-8{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-9{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-10{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-11{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}
.grid-item-12{
    position: static;
    width: 400px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-radius: 10px;
}